<div id="talk" class="full">

  <div class="message-header">
    <%= link_to root_path do %>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    <% end %>
    <img src="<%= @talk.image %>">
    <h1 class="talk-name"><%= @talk.name %></h1>
      <i class="fa fa-cog fa-right" aria-hidden="true"></i>
    <i class="fa fa-users fa-right" aria-hidden="true"></i>
  </div>

  <div class="message-content">
    <div class="message-box">
      <ul>
        <% @messages.each do |message| %>
          <% if message.user_id == current_user.id %>
            <li class="myself">
              <span class="message-time"><%= message.created_at.strftime('%H:%M') %></span>
              <%= simple_format(message.body, class: 'message-text') %>
            </li>
          <% else %>
            <li class="you">
              <!-- <h4 class="other-name"><%= message.user.name %></h4> -->
              <span class="message-time"><%= message.created_at.strftime('%H:%M') %></span>
              <%= simple_format(message.body, class: 'message-text') %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="message-form">
      <%= form_for [@group, @message] do |f| %>
        <div id="image-send">
         <%= button_tag type: "submit", class: "btn image-btn" do %>
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
          <% end %>
        </div>
        <%= f.text_area :body, row: 1, class: "message-input", placeholder: "message" %>
        <div id="message-send">
          <%= button_tag type: "submit", class: "btn" do %>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
