<div id ="session_wrap" class="full">
  <div id="session-header">
    <%= link_to root_path do %>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    <% end %>
  </div>
  <div id="session_new">
    <h2 id="log_in">プロフィール編集</h2>
    <%= form_for @user do |f| %>
      <div class="field">
        <%= f.label :プロフィール写真 %><br />
        <img  class="profile-image" src="<%= @user.image %>">
        <%= f.file_field :image, autofocus: true %>
      </div>

      <div class="field" id="age">
        <%= f.label :年齢 %><br />
        <%= f.text_field :age, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Save", class: "save" %>
      </div>
    <% end %>

  </div>
</div>

